html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

*[hidden] {
    display: none
}

body {
    line-height: 1
}

menu, ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.toast-box {
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 9999;
    background-color: #fff;
    border-radius: 0 0 7px 7px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #333;
    transition: transform .3s
}

.transferv2-cashier-page {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 10px 10px;
    overflow: auto;
    transition: padding .5s;
    margin: auto;
    height: auto
}

.transferv2-cashier-content {
    box-sizing: border-box;
    margin: auto;
    border-radius: 17px;
    width: 600px;
    overflow-y: auto;
    background-color: #fefefe;
    box-shadow: 0 0 10px silver
}

.transferv2-cashier-title-logo {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: #dedede
}

.transferv2-cashier-title-logo > svg {
    color: #fff;
    width: 26px
}

.transferv2-cashier-title {
    color: #fff;
    padding: 20px 20px 40px;
    background-image: linear-gradient(235deg, #6382e8, #263567)
}

.transferv2-cashier-title-desc {
    font-size: 12px;
    padding: 10px 0;
    color: #dedede
}

.transferv2-cashier-title-amount {
    font-size: 32px;
    font-weight: 700
}

.transferv2-cashier-card {
    border-radius: 0 0 7px 7px
}

.transferv2-cashier-card-content {
    background-color: #fefefe;
    padding: 20px 20px 40px;
    margin-top: -20px
}

.transferv2-cashier-card-title {
    color: #696969;
    font-size: 16px;
    padding: 0 10px 18px 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.transferv2-cashier-card-title-expire {
    color: red;
    font-size: 14px
}

.transferv2-cashier-tip {
    color: #666;
    padding: 20px 10px;
    line-height: 24px;
    background-color: #d1deffd2;
    margin: 18px 0;
    border-radius: 17px;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    color: #333;
    font-size: 14px;
    min-height: 50px
}

.transferv2-cashier-tip-icon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center
}

.transferv2-cashier-tip-icon > svg {
    width: 50%
}

.transferv2-cashier-tip-text {
    flex: 1
}

.transferv2-cashier-tip.warn {
    color: red
}

.transferv2-cashier-card-info {
    box-shadow: 0 0 10px #eee;
    border-radius: 15px;
    padding: 14px 20px;
    background-color: #48515e
}

.transferv2-cashier-card-info-item {
    padding: 3px 0
}

.transferv2-cashier-card-info-title {
    color: #dedede;
    font-size: 10px;
    padding-bottom: 2px
}

.transferv2-cashier-card-info-val {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff
}

.transferv2-cashier-card-info-val.emphasize {
    font-size: 18px;
    color: #fff
}

.transferv2-cashier-card-info-btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 12px;
    padding: 3px 14px;
    font-weight: 400;
    letter-spacing: 0
}

.transferv2-cashier-card-info-btn:active {
    box-shadow: 0 0 5px #666 inset
}

.transferv2-cashier-card-confirm-btn {
    font-size: 16px;
    color: #fff;
    border-radius: 17px;
    background-color: #6382e8;
    padding: 20px;
    text-align: center;
    cursor: default
}

.transferv2-cashier-card-confirm-btn.checking {
    color: #ff3939;
    background-color: #ff00001a
}

.transferv2-cashier-card-confirm-btn:active {
    box-shadow: 0 0 10px #999 inset
}

@media screen and (max-width: 960px) {
    .transferv2-cashier-page {
        padding: 0
    }

    .transferv2-cashier-content {
        width: 100%;
        height: 100%;
        border-radius: 0
    }
}

.theme-orange .transfer-cashier-content {
    background-image: linear-gradient(to right, #ff9900, #cc6600)
}

.theme-orange .transfer-cashier-card-info-val.emphasize {
    color: #fc3
}

.theme-orange .transfer-cashier-card-info-btn, .theme-orange .transfer-cashier-card-confirm-btn {
    background-color: #fc3
}

.theme-default .transfer-cashier-content {
    background-image: linear-gradient(to right, #0f7584, #043345)
}

.theme-default .transfer-cashier-card-info-val.emphasize {
    color: #E50A8E
}

.theme-default .transfer-cashier-card-info-btn, .theme-default .transfer-cashier-card-confirm-btn {
    background-color: #E50A8E
}

.transfer-cashier-page {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 10px 10px;
    background-color: #464646;
    overflow: auto;
    transition: padding .5s
}

.transfer-cashier-content {
    border-radius: 7px;
    transition: width .5s
}

.transfer-cashier-title {
    color: #eee;
    padding: 50px 0 30px;
    text-align: center
}

.transfer-cashier-title-desc {
    font-size: 12px;
    padding: 10px
}

.transfer-cashier-title-amount {
    font-size: 32px
}

.transfer-cashier-card {
    background-color: #0009;
    border-radius: 0 0 7px 7px
}

.transfer-cashier-card-title {
    color: #eee;
    font-size: 12px;
    padding: 18px
}

.transfer-cashier-card-content {
    background-color: #f7f7f7;
    border-radius: 7px;
    padding: 20px 20px 40px
}

.transfer-cashier-card-tip {
    color: #666;
    text-align: center;
    padding: 10px;
    line-height: 24px
}

.transfer-cashier-card-tip.warn {
    color: red
}

.transfer-cashier-card-info {
    box-shadow: 0 0 10px #eee;
    border-radius: 7px;
    padding: 14px 20px;
    background-color: #fff
}

.transfer-cashier-card-info-item {
    padding: 6px 0
}

.transfer-cashier-card-info-title {
    color: #999;
    font-size: 12px;
    padding-bottom: 6px
}

.transfer-cashier-card-info-val {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    letter-spacing: 1px;
    color: #555
}

.transfer-cashier-card-info-val.emphasize {
    font-size: 22px
}

.transfer-cashier-card-info-btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 12px;
    padding: 10px 14px;
    font-weight: 400;
    letter-spacing: 0
}

.transfer-cashier-card-info-btn:active {
    box-shadow: 0 0 5px #666 inset
}

.transfer-cashier-card-confirm-btn {
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: default
}

.transfer-cashier-card-confirm-btn.checking {
    color: #ff3939;
    background-color: #ff00001a
}

.transfer-cashier-card-confirm-btn:active {
    box-shadow: 0 0 10px #999 inset
}

@media screen and (min-width: 960px) {
    .transfer-cashier-page {
        padding: 50px 10px 10px
    }

    .transfer-cashier-content {
        width: 600px;
        margin: auto
    }
}

.toast-box.show {
    transform: translateY(0)
}

.toast-box.hide {
    transform: translateY(-100%);
    box-shadow: none
}

.toast-box.info {
    color: #2a5caa
}

.toast-box.success {
    color: #0d880d
}

.toast-box.warn {
    color: #dab900
}

.toast-box.error {
    color: red
}

.cashier-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f9f9f
}

.cashier-loading-icon {
    width: 120px;
    height: 20px;
    background: linear-gradient(rgb(39, 42, 49) 0 0) 0/0% no-repeat #ddd;
    animation: loading-animation 5s infinite steps(100);
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f52a3
}

@keyframes loading-animation {
    to {
        background-size: 100%
    }
}

.complete-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff
}

.complete-container {
    border-radius: 7px;
    max-width: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0
}

.complete-message {
    padding: 10px;
    color: #46a146
}

.complete-subject {
    padding: 5% 0;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: 700;
    color: #46a146
}

.complete-key {
    font-size: 12px;
    color: #666;
    padding: 10px
}

.complete-key:before {
    display: inline;
    content: "No."
}

@media screen and (min-width: 960px) {
    .complete-page {
        background-color: #666
    }

    .complete-container {
        box-shadow: 0 0 10px #464646;
        background-color: #fff
    }
}

.error-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.error-container {
    border-radius: 16px;
    max-width: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0
}

.error-message {
    padding: 10px;
    color: #f37171;
    text-align: center;
    line-height: 30px
}

.error-subject {
    padding: 5% 0;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fa4d4d
}

.error-key {
    font-size: 12px;
    color: #666;
    padding: 10px
}

.error-key:before {
    display: inline;
    content: "No."
}

.error-flow:before {
    display: inline;
    content: "No."
}

@media screen and (min-width: 960px) {
    .error-page {
        background-color: #666
    }

    .error-container {
        box-shadow: 0 0 10px #464646;
        background-color: #fff
    }
}
